/* Defaults */
html, body, img, p, ul, h1, h2, h3, h4, h5, h6, hr, input, label, button, a, table
  padding 0
  margin: 0
  outline: 0
  color #313131

html
  font 15px Arial

body
  background #F4F4F4

h2
  color #327798
  font-weight normal
  padding-bottom 20px

h3
  padding-bottom 15px

img
  border none
  outline none
  vertical-align middle

a
  color #2490c3
  &:hover
    color #a5d3da
    text-decoration none

li > a
  text-decoration none
  color inherit

.alert
  color red